.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.control-button {
  font-family: 'Roboto';
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}
.page-no {
  font-family: 'Roboto';
  font-size: 20px;
}
